@charset "utf-8";
/* CSS Document */

body {
margin: 0
}

#locationField, #controls {
        position: relative;
        width: 100%;
		display: block;
      }
      #autocomplete {
        width: 400px;
margin-right: auto;
margin-left: auto;
margin-top: 4px;
white-space: nowrap;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
	  
	   #locationField {
		position: absolute;
		top: 0px;
		height: 29px;
		width: 100%;
		border-bottom: 1px solid black;
        
       
		text-align: center
      }
	  
	  